*{
    font-family: sans-serif ;
    font-weight: 300;
    margin: 0;
    padding: 0;
    color: rgb(221, 221, 221);
}

body{
    background-color: #1F2432;
}

h2, ul, .or{
    margin-bottom: 40px;
}

.bloco{
    max-width: 450px;
    margin: 40px auto;
    color: white;
    background-color: rgb(15, 15, 15);

}

.container{
    padding: 40px;
    position: relative;
}


.or{
    color: rgb(134, 134, 134);
    text-align: center;
}

ul{
    display: flex;
    justify-content: center;
}

li{
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 50%;
    list-style: none;
    display: inline-block;
    margin: 0 5px;
}

.facebook{
    background-image: url(../images/facebook.png);
    background-size: cover;
}

.twitter{
    background-image: url(../images/twitter.png);
    background-size: cover;
}

.linkedin{
    background-image: url(../images/linkedin.png);
    background-size: cover;
}

.google{
    background-image: url(../images/google.png);
    background-position: 50%;
    background-size: 60%;
    background-repeat: no-repeat;
}

.apple{
    background-image: url(../images/apple.png);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: 50%;
}

form{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    font-size: 0.8em;
}

input{
    background-color: rgba(128, 128, 128, 0.329);
    max-width: 100%;
    box-sizing: border-box;
    padding-left: 10px;
    width: 100%;
}

input, h4{
    margin-bottom: 15px;
    color: rgb(187, 187, 187);
}

input, button{
    padding: 8px 0;
    border-radius: 8px;
    font-size: 0.9em;
    border: 0;
}

input::placeholder{
    padding: 15px;
}

button{
    background-color: #1F2432;   
    text-align: center;
    width: 100%; 
    margin-bottom: 20px;
}

button:hover{
    background-color: #1f24327c;
    cursor: pointer;
}

div.cria-contato , div.esquece-senha{
    font-size: 0.8em;
    color: blue;
    display: inline;
}

div.cria-contato:hover , div.esquece-senha:hover{
    cursor: pointer;
}


.esquece-senha{
    position: absolute;
    right: 35px;
}