@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Roboto+Mono:ital@1&family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap%27');

*{
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}

div.container-main div.fundo{
    background-color: #6199FF;
}

div.container-main{
    max-width: 1120px;
    margin: 45px auto;
    font-size: 15px;
}

/* div.container-main-2{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #6199FF;
} */


/* ------------------------------------------GERAL--------------------------------------------------------- */

div.container-main header{
    display: flex;
    justify-content: space-between;
}


h1.logo{
    font-size: 20px;
    font-weight: normal;
}

h1.logo>span{
    font-weight: 900;
}

header ul{
    align-content: space-between;
    margin-right: 30px;
}

ul.menu li{
    list-style: none;
    display: inline;
    margin-left: 35px;
}


ul.menu li a{  
    text-decoration: none;
    color: black;
}

ul.menu li a.buy-ticket{               /*lembrar de ver responsividade do botão*/
    color: white;
    background-color: #6B76FF;     
    padding: 13px 15px;
    border-radius: 2px;
    overflow: auto;
}

ul.menu li a:hover{
    color: black;
    transition: 0.4s;
}



/* -----------------------------------------------Header------------------------------------------- */


div.container-main div.container-anuncio{
    height: 635px;
    width: 1120px;
    background-image: url('https://preview.colorlib.com/theme/eventalk/images/bg_1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
}

div.container-anuncio div.anuncio{
    width: 100%;
}

div.container-anuncio div.anuncio h1.title{
    color: #6B76FF;
    font-size: 60px;
    line-height: 75px;
    font-weight: 200;
    margin-top: 60px;
}

div.container-anuncio div.anuncio h1.title span{
    font-weight: 700;
    font-size: 55px;

}

div.container-anuncio div.anuncio div.data{
    font-size: 20px;
    margin-top: 20px;
    font-weight: 300;
    color: #A2A2A2;
}

div.container-anuncio div.anuncio div.timer{
    height: 90px;
    display: flex;
    margin-top: 50px;
}

div.container-anuncio div.anuncio div.timer div.timer-value{
    color:#6B76FF;
    font-size: 38px;
    width: 80px;
    padding-left: 10px;
    font-weight: 200;
    padding-right: 30px;
    border-right: 1px solid rgba(0, 0, 0, 0.13);
}

div.container-anuncio div.anuncio div.timer div.sec{
    border: 0;
}

div.container-anuncio div.anuncio div.timer div.timer-value span{
    font-size: 15px;
    color: black;
}

/* -------------------------------------anuncio----------------------------------------------------*/

div.container-main div.container-info{
    height: 300px;
    display: flex;
    justify-content:space-between;
    margin-bottom: 150px;
}

i{
    font-size: 60px;
    color:#6199FF;
    margin-bottom: 10px;
}

div.container-info div.info{
    width: 230px;
    margin-top: 120px;
    line-height: 2em;
}

div.container-info div.info h2{
    margin-bottom: 15px;
    font-weight: 400;
}

div.container-info div.info p{
    color: #A2A2A2;
}

/* -------------------------------------info--------------------------------------------- */

div.container-main div.fun-facts{
    display: flex;
    margin-bottom: 150px;
}

div.container-main div.fun-facts div.img{
    background-image: url(https://preview.colorlib.com/theme/eventalk/images/about.jpg.webp);
    /* height: 700px; */
    width: 60%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

div.container-main div.fun-facts div.facts{
    margin: 50px 55px;
    height: 700px;
}

div.container-main div.fun-facts div.facts h2{
    font-weight: 300;
    color: #A2A2A2;
    font-size: 1.2em;
}

div.container-main div.fun-facts div.facts h1{
    color: rgba(0, 0, 0, 0.76);
    font-weight: 400;
    font-size: 2.3em;
}

div.container-main div.fun-facts div.facts h1 span{
    font-weight: 700;
}

div.container-main div.fun-facts div.facts p{
    color: #A2A2A2;
    line-height: 2em;
}

div.facts h1 , div.facts h2 , div.facts p{
    margin-bottom: 20px;
}


div.container-main div.fun-facts div.facts  div.facts-icons-center{
    justify-content: space-around;
    height: auto;
    display: flex;
}

div.container-main div.fun-facts div.facts div.facts-icons{
    display: flex;    
}


div.container-main div.fun-facts div.facts div.facts-icons1 div.icon, .facts-icons2 div.icon{
    background-color: #00000009;
    width: 225px;
    height: auto;
    text-align: center;
    padding: 30px 0;
    margin-bottom: 30px;
}

div.container-main div.fun-facts div.facts div.facts-icons div.icon h1{
    font-weight: 600;
}

div.container-main div.fun-facts div.facts div.facts-icons1 div.icon p, div.facts div.facts-icons2 div.icon p{
    font-weight: 300;
    color: black;
}

/* ---------------------------------Fun-Facts-------------------------------------------- */


div.container-main div.speakers-title{
    text-align: center;
    margin-bottom: 60px;
}

div.container-main div.speakers-title h1{
    font-weight: 400;
    font-size: 2.3em;
    color: rgba(0, 0, 0, 0.76);
}

div.container-main div.speakers-title h1 span{
    font-weight: 700;
}

div.container-main div.speakers-title h2{
    font-weight: 300;
    color: #A2A2A2;
    font-size: 1.2em;
}

div.container-main div.speakers-container{
    width: auto;
    height: 340px;
    display:flex;
    justify-content: space-between;
}

div.container-main div.speakers-container  div.speaker{
    height: auto;
}

div.container-main div.speakers-container  div.speaker img{
    height: 100%;
    margin-bottom: 20px;
    border-bottom: 1px solid #6B76FF;

}

div.container-main div.speakers-container  div.speaker ul{
    display: flex;
    justify-content:center;
    margin-top: 25px;
}



div.container-main div.speakers-container  div.speaker li{
    list-style: none;
    margin: auto 10px;
}


div.container-main div.speakers-container  div.speaker li i{
    font-size: 20px;
}

div.container-main div.speakers-container h2, div.container-main div.speakers-container h3{
    text-align: center;
    color: rgba(0, 0, 0, 0.76);
    font-weight: 500;
    margin-bottom: 10px;
}


div.container-main div.speakers-container h3{
    font-weight: 400;
    color: #A2A2A2;
    font-size: 1em;
}



