body{
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family:  Calibri, 'Trebuchet MS', sans-serif;
}

.top-bar{
    background-color: #003366;
    max-width: 100%;
    height: auto;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

.top-bar .centro {
    width: 1200px; 
    height: 64px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

div.contatos{
    position: relative;
    margin: 0 auto;
}

div.numero{
    width:fit-content;
    display: inline-block;
    /* position: relative; */
}

div.email{
    width:fit-content;
    display: inline-block;
    /* position: relative; */
    margin-left: 30px;
}

div.chat{
    display: inline-block;
    position: relative;
    left: 90px;
}

div.wpp{
    display: inline-block;
    background-color: #239529;
    padding: 8px;
    border-radius: 20px;
    
}

div.wpp:hover{
    background-color: #239529c0;
}

div.online{
    display: inline;
    width:fit-content;
    background-color: #2BA5AF;
    position: relative;
    left: 0px;
    padding: 8px;
    border-radius: 20px;
}

div.online:hover{
    background-color: #2ba4afc0;
}
/* ---------------------------------------------top-bar------------------------------------------------------------ */


.header{
    width: 100%;
}


.center1{
    position: relative;
    height: 60px;
    width: 1200px;
    text-align: center;
    margin: 18px auto;
}

div.center1>img{
    position: absolute;
    left: 65px;
}

ul{
    font-weight: bold;
    display: inline;
    /* border: 1px solid blue; */
}

.center2{
    width: 750px;
    position: absolute;
    right: 0;
    top: 19px;
}

li{
    display: inline;
    padding: 10px 5px;
    font-size: 0.9em;
    margin-left: 60px;
}

li:hover{
    transition: 0.3s;
    cursor: pointer;
    background-color: #003366;
    padding: 10px 5px;
    border-radius: 20px;
    color: white;
}

div.ft1{
    height: 350px;
    width: 1600px;
    margin: auto;
    background-image: url("./imagens/primeira.jpg");
    margin-top: 20px;
    background-size: cover;
}
/* ---------------------------------------------header------------------------------------------------------------ */

h1{
    color: #003366;
    font-weight: 400;
    border-bottom: 5px solid #72120B;
}

span{
    color: #72120B;
}

div.welcome{
    color: #999999;
    margin-top: 20px;
}

.center3{
    display: flex;
    height: 390px;
    width: 1200px;
    margin: auto;
    padding: 10px;
}

div.saiba-mais{
    padding: 18px 47px;
    color: white;
    background-color: #72120B;
    border-radius: 8px;
    width: fit-content;
}

div.txt1>div.saiba-mais:hover{
    cursor: pointer;
    padding: 22px 52px;
    transition: 0.3s;
}

.txt1{
    width: 580px;
}

.foto1{
    width: 450px;
    height: 370px;
    margin: auto;
    background-image:url(https://www.projetoweb.com.br:443/sites-padrao-prontos-simples-baratos-lancamentos/padrao1-programado/template/pw-images/box-01.jpg);
    background-size: cover;
}


/* --------------------------------------------primeiro-texto---------------------------------------------------------- */

.ofertas{
    background-color: #003366;
}

.center-ofertas{
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-around;

}

.bloco1>h2 , .bloco2>h2 , .bloco3>h2{
    font-weight: 500;
    margin: 40px auto;
}

.bloco1 , .bloco2 , .bloco3{
    height: 550px;
    width: 311px;
    color: white;
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.192);
    text-align: center;
    padding:15px 10px;
    margin: 20px 0;
    border-radius: 10px;
    line-height: 2em;
}

.bloco1>.saiba-mais , .bloco2>.saiba-mais , .bloco3>.saiba-mais{
    margin: auto;
    margin-top: 45px;
}


