body{
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family:  Calibri, 'Trebuchet MS', sans-serif;
}

.top-bar{
    background-color: #003366;
    max-width: 100%;
    height: auto;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}



.top-bar .centro {
    width: 1200px; 
    height: 64px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

div.contatos{
    margin: 0 auto;
}

div.numero{
    width:fit-content;
    display: inline-block;
    /* position: relative; */
}

.contatos>.email{
    width:fit-content;
    display: inline-block;
    /* position: relative; */
    margin-left: 30px;
}

.contatos>.chat{
    display: inline-block;
    position: relative;
    left: 90px;
    color: white;
}

div.wpp{
    display: inline;
    background-color: #239529;
    padding: 8px;
    border-radius: 20px;
    
}

div.wpp:hover{
    background-color: #239529c0;
}

div.online{
    display: inline;
    /* width:fit-content; */
    background-color: #2BA5AF;
    left: 0px;
    padding: 8px;
    border-radius: 20px;
}

div.online:hover{
    background-color: #2ba4afc0;
}
/* ---------------------------------------------top-bar------------------------------------------------------------ */


.header{
    width: 100%;
}


.center1{
    position: relative;
    height: 60px;
    width: 1200px;
    text-align: center;
    margin: 18px auto;
}

div.center1>img{
    position: absolute;
    left: 65px;
}

ul{
    font-weight: bold;
    display: inline;
    /* border: 1px solid blue; */
}

.center2{
    width: 750px;
    position: absolute;
    right: 0;
    top: 19px;
}

li{
    display: inline;
    padding: 10px 5px;
    font-size: 0.9em;
    margin-left: 60px;
}

li:hover{
    transition: 0.3s;
    cursor: pointer;
    background-color: #003366;
    padding: 10px 5px;
    border-radius: 20px;
    color: white;
}

div.ft1{
    height: 350px;
    width: 1600px;
    margin: auto;
    background-image: url("./imagens/primeira.jpg");
    margin-top: 20px;
    background-size: cover;
}
/* ---------------------------------------------header------------------------------------------------------------ */

.txt1>h1{
    color: #003366;
    font-weight: 400;
    border-bottom: 5px solid #72120B;
}

span{
    color: #72120B;
}

div.welcome{
    color: #999999;
    margin-top: 20px;
}

.center3{
    display: flex;
    height: 390px;
    width: 1200px;
    margin: auto;
    padding: 10px;
}

div.saiba-mais{
    padding: 18px 47px;
    color: white;
    background-color: #72120B;
    border-radius: 8px;
    width: fit-content;
}

div.txt1>div.saiba-mais:hover{
    cursor: pointer;
    padding: 22px 52px;
    transition: 0.3s;
}

.txt1{
    width: 580px;
}

.foto1{
    width: 450px;
    height: 370px;
    margin: auto;
    background-image:url(https://www.projetoweb.com.br:443/sites-padrao-prontos-simples-baratos-lancamentos/padrao1-programado/template/pw-images/box-01.jpg);
    background-size: cover;
}


/* --------------------------------------------primeiro-texto---------------------------------------------------------- */

.ofertas{
    background-color: #003366;
}

.center-ofertas{
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-around;

}

.bloco1>h2 , .bloco2>h2 , .bloco3>h2{
    font-weight: 500;
    margin: 40px auto;
}

.bloco1 , .bloco2 , .bloco3{
    height: 550px;
    width: 311px;
    color: white;
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.192); 
    text-align: center;
    padding:15px 10px;
    margin: 20px 0;
    border-radius: 10px;
    line-height: 2em;
}

.bloco1>.saiba-mais , .bloco2>.saiba-mais , .bloco3>.saiba-mais{
    margin: auto;
    margin-top: 45px;
}

/* --------------------------------------------produtos-ofertados---------------------------------------------------------- */

.footer{
    background-color: #003366;
    margin-top: 500px;
    height: 200px;
    display: flex;
}

.center-final{
    display: flex;
    font-size: 0.7em;
    width: 1100px;
    /* height: 100px; */
    margin:  0 auto;
    justify-content: space-around;
}

i{
    font-size: 1.4em;
    padding-right: 10px;
}

.contato-fim , .espaco{
    color: white;
    width: 300px;

}

.contato-fim{
    margin: auto 0;
    line-height: 35px;
}

div.center-final>img{
    display: block;
    margin: auto 0;
    width: 200px;
    height: 29px;
    
}

.espaco{
    margin: auto 0;
    width: 250px;
    line-height: 40px;
    text-align: center;
    /* color: white; */
}


.espaco > .online {
    padding-right:  116px;
}

.footer2{
    color: white;
    display: flex;
    margin-top: 1px;
    text-align: center;
    font-size: 0.9em;
    background-color: #003366;
}

.center-footer2{
    margin: auto;
    padding: 10px;
}


/*---------------------------------------------form------------------------------------------------------------*/

.form-center{
    margin: auto;
    width: 900px;
}

.form-center> h1{
    color: #003366;
    border-top: 5px solid #72120B ;
    padding-top: 5px;
    font-weight: 400;
    font-size: 2em;
    text-align: center;
}

.dados{
    display: flex;
    margin: auto;
    justify-content: center;
    margin-bottom: 10px;
    
}

.info{
    width: 100%;
}

.info > input{ 
    box-sizing: border-box;
    width: 100%;
    padding: 19px 20px;
    border-radius: 7px;
    background-color: #c4c4c485;
    border: 0;
}
input:hover{
    border-left: 2px solid #72120B;

}

#nome , #email{
    margin-bottom: 10px;
}

textarea{
    display: inline-block;
    width: 100%;
    resize: none;
    box-sizing: border-box;
    padding: 19px 20px;
    margin-left: 5px;
    background-color: #c4c4c485;
    border: 0;
}

textarea:hover{
    border-left: 2px solid #72120B;
}

.enviar{
    color: white;
    background-color: #72120B;
    padding: 19px 20px;
    border-radius: 7px;
    box-sizing: border-box;
    width: 100%;
}

.enviar{
    cursor: pointer;
}


